@charset "UTF-8";
/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  /* 
 //////////////////////////////////// 
 ////////// COLORS 
 */
  /* CODINGPHASE STYLE*/
  --color-background-lightgrey: ##f7f7f7;
  --color-background-gradient-1: #5e43fc;
  --color-background-gradient-2: #c33be4;
  --color-text-primary: #c0a5cb;
  --color-text-secondary: #e0a2ef;
  /* REGULAR COLORS*/
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  /* Overview */
  --overview-text-grey: #535353;
  --shadow-dark: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --shadow-medy: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
  /* 
 //////////////////////////////////// 
 ////////// DIMENSIONS 
 */ }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--color-text-white);
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 100vw;
  margin: 0rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  /*    min-height: 50rem; FIXME dont use min height in production */ }

.landing {
  background-color: var(--color-background-lightgrey);
  padding-top: 14rem;
  padding: 6rem;
  height: 100vh; }

.exclusives {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-background-gradient-1), var(--color-background-gradient-2)); }

.overview {
  min-height: 100vh;
  background-color: var(--color-background-lightgrey); }

.overview-images {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-background-gradient-1), var(--color-background-gradient-2)); }

.fifty-percent {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-background-gradient-1), var(--color-background-gradient-2)); }

.courses {
  min-height: 100vh;
  background-color: var(--color-background-lightgrey); }

.select-plan {
  min-height: 100vh;
  background-color: var(--color-background-lightgrey); }

.popular-bundles {
  min-height: 100vh;
  background-color: var(--color-background-lightgrey); }

.credit {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, var(--color-background-gradient-1), var(--color-background-gradient-2)); }

.landing h1 {
  font-size: 6rem;
  color: black; }

.landing h1 span {
  display: block;
  color: var(--color-text-primary); }

.landing-content {
  display: flex;
  margin-top: 4rem;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 20vw;
  max-height: 25vw;
  position: relative; }
  .landing-content__landing-button {
    box-shadow: 5px 5px 8px var(--color-background-gradient-1);
    margin-bottom: 8rem;
    margin-right: 70%;
    border: none;
    background-image: linear-gradient(to right bottom, var(--color-background-gradient-1), var(--color-background-gradient-2));
    color: var(--color-text-white);
    padding: 2rem 3rem;
    font-weight: bold;
    flex-basis: 200px;
    flex-shrink: 0;
    border-radius: 10vh; }
  .landing-content__landing-image {
    box-shadow: var(--shadow-dark);
    z-index: 2;
    position: absolute;
    right: 20rem;
    height: 100%;
    border-radius: 1rem; }
  .landing-content__landing-box-gradient {
    box-shadow: var(--shadow-dark);
    z-index: 1;
    position: absolute;
    top: 6rem;
    border-radius: 1rem;
    min-width: 30vw;
    height: 100%;
    max-height: 450px;
    background-image: linear-gradient(to right bottom, var(--color-background-gradient-1), var(--color-background-gradient-2)); }

/* 
justify-content — controls alignment of all items on the main axis.

align-items — controls alignment of all items on the cross axis.

align-self — controls alignment of an individual flex item on the cross axis.

align-content — described in the spec as for “packing flex lines”; controls space between flex lines on the cross axis.
*/
.exclusives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .exclusives__exclusives-title {
    font-size: 6rem;
    color: var(--color-text-white);
    text-align: center;
    margin-bottom: 3rem; }
  .exclusives__exclusives-subtext {
    margin-top: 6rem;
    font-size: 2rem; }
  .exclusives__card-container {
    display: flex;
    justify-content: center; }
    .exclusives__card-container__card {
      box-shadow: 10px 10px 8px var(--color-background-gradient-1);
      display: flex;
      align-items: flex-end;
      height: 300px;
      width: 200px;
      background-image: linear-gradient(to right bottom, rgba(94, 67, 252, 0.8) 10%, rgba(195, 59, 228, 0.1) 30%), url("../img/excl1.png");
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      /*       background-image: url("/img/excl3.png"),
        linear-gradient(
          to right bottom,
          var(--color-background-gradient-1),
          var(--color-background-gradient-2) 25%
        ); */ }
      .exclusives__card-container__card__card-overlay {
        display: flex;
        width: 100%;
        height: 30%;
        background-image: linear-gradient(to top, var(--color-background-gradient-1), var(--color-background-gradient-2));
        align-items: center;
        justify-content: center; }
      .exclusives__card-container__card__card-title {
        color: var(--color-text-white);
        font-size: 1.8rem;
        text-align: center; }
    .exclusives__card-container__card:nth-child(n + 2) {
      margin-left: 2rem; }

.overview {
  color: var(--overview-text-grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 6rem;
  margin-right: 6rem; }
  .overview__title {
    margin-bottom: 2rem;
    color: var(--color-text-primary);
    font-size: 6rem; }
  .overview__list {
    list-style: none;
    /*  */ }
    .overview__list__item {
      font-size: 2rem;
      color: black; }
    .overview__list__item:before {
      display: inline-block;
      content: " ";
      background-image: url("../img/check.svg");
      background-size: 1.5rem 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      fill: green !important; }
  .overview__exclusives-list {
    list-style: none;
    margin: 2rem 0; }
    .overview__exclusives-list__item {
      color: var(--color-text-primary);
      font-size: 2rem; }
    .overview__exclusives-list__item:before {
      display: inline-block;
      content: " ";
      background-image: url("../img/star.svg");
      background-size: 1.5rem 1.5rem;
      height: 1.5rem;
      width: 1.5rem; }
  .overview__description {
    margin-top: 2rem;
    font-size: 2rem; }

.fifty-percent {
  color: var(--overview-text-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .fifty-percent__container {
    margin: auto;
    box-shadow: 5px 5px 8px var(--color-background-gradient-1);
    border-radius: 10vh;
    padding: 2rem 4rem;
    background-image: linear-gradient(to bottom, var(--color-background-gradient-1), var(--color-background-gradient-2)); }
    .fifty-percent__container__title {
      text-align: center;
      font-size: 4rem;
      color: var(--color-text-white); }
    .fifty-percent__container__subtitle {
      text-align: center;
      font-size: 2rem;
      color: var(--color-text-secondary); }
  .fifty-percent__container2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .fifty-percent__container2__text {
      color: white;
      font-size: 1.5rem; }
    .fifty-percent__container2__icon {
      fill: white;
      width: 2rem; }

.courses {
  display: flex;
  justify-content: center; }
  .courses__container {
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%; }
    .courses__container__card {
      box-shadow: var(--shadow-light);
      margin-bottom: 4rem;
      display: flex;
      flex: 0 0 300px;
      height: 150px;
      border-radius: 1rem;
      justify-content: center;
      /*       background-image: linear-gradient(
        to top,
        rgba(94, 67, 252, 1),
        rgba(195, 59, 228, 1)
      ); */
      background-color: var(--color-background-gradient-2); }
      .courses__container__card__title {
        font-size: 2rem;
        align-self: center; }
    .courses__container__card:nth-child(n + 1) {
      margin-left: 3rem; }

.overview-images {
  display: flex;
  justify-content: center;
  align-items: center; }
  .overview-images__container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .overview-images__container__container1 {
      display: flex;
      align-items: flex-end;
      flex-direction: column; }
      .overview-images__container__container1__image {
        box-shadow: var(--shadow-medy);
        position: relative;
        right: 10%;
        margin: 5rem 0;
        max-width: 40%; }
    .overview-images__container__image-mid {
      box-shadow: var(--shadow-medy);
      border-radius: 10vh;
      max-width: 25%; }
    .overview-images__container__container2 {
      display: flex;
      flex-direction: column; }
      .overview-images__container__container2__image {
        box-shadow: var(--shadow-medy);
        position: relative;
        left: 10%;
        margin: 5rem 0;
        max-width: 40%; }

.credit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .credit__title {
    color: var(--color-text-secondary);
    font-size: 3.1rem; }
  .credit__subtitle {
    color: var(--color-text-secondary);
    font-size: 2rem; }
  .credit__author {
    margin-top: 2rem;
    color: var(--color-text-secondary);
    font-size: 2rem; }
  .credit__icon {
    width: 3rem;
    fill: black; }
