//////////////////////////////
// LANDING SECTION

.landing h1 {
  font-size: 6rem;
  color: black;
}

.landing h1 span {
  display: block;
  color: var(--color-text-primary);
}

.landing-content {
  display: flex;
  margin-top: 4rem;

  justify-content: flex-end; // horizontally
  align-items: flex-end; // vertically
  // background-color: orangered;

  min-height: 20vw;
  max-height: 25vw;

  position: relative;

  &__landing-button {
    margin-bottom: 8rem;
    margin-right: 70%;
    border: none;
    background-image: linear-gradient(
      to right bottom,
      var(--color-background-gradient-1),
      var(--color-background-gradient-2)
    );
    color: var(--color-text-white);
    padding: 2rem 3rem;
    font-weight: bold;
    flex-basis: 200px;
    flex-shrink: 0;
    border-radius: 10vh;
  }

  &__landing-image {
    z-index: 2;
    position: absolute;
    right: 20rem;
    height: 100%;
    border-radius: 1rem;
  }

  &__landing-box-gradient {
    z-index: 1;
    position: absolute;
    top: 6rem;
    border-radius: 1rem;

    min-width: 30vw;

    height: 100%;
    max-height: 450px;
    background-image: linear-gradient(
      to right bottom,
      var(--color-background-gradient-1),
      var(--color-background-gradient-2)
    );
  }
}

//////////////////////////////
// EXCLUSIVES SECTION

/* 
justify-content — controls alignment of all items on the main axis.

align-items — controls alignment of all items on the cross axis.

align-self — controls alignment of an individual flex item on the cross axis.

align-content — described in the spec as for “packing flex lines”; controls space between flex lines on the cross axis.
*/

.exclusives {
  display: flex;
  flex-direction: column;
  justify-content: center; // vertical (becomes vertical)
  align-items: center;

  &__exclusives-title {
    font-size: 6rem;
    color: var(--color-text-white);
    text-align: center;
    margin-bottom: 3rem;
  }

  &__exclusives-subtext {
    margin-top: 6rem;
    font-size: 2rem;
  }

  &__card-container {
    display: flex;
    justify-content: center; //horizontal

    &__card {
      display: flex;
      align-items: flex-end;

      height: 300px;
      width: 200px;

      background-image: linear-gradient(
          to right bottom,
          rgba(94, 67, 252, 0.8) 10%,
          rgba(195, 59, 228, 0.1) 30%
        ),
        url(/img/excl1.png);

      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      /*       background-image: url("/img/excl3.png"),
        linear-gradient(
          to right bottom,
          var(--color-background-gradient-1),
          var(--color-background-gradient-2) 25%
        ); */
      &__card-overlay {
        display: flex;
        width: 100%;
        height: 30%;
        background-image: linear-gradient(
          to top,
          var(--color-background-gradient-1),
          var(--color-background-gradient-2)
        );
        align-items: center;
        justify-content: center;
      }

      &__card-title {
        color: var(--color-text-white);
        font-size: 1.8rem;
        text-align: center;
      }
    }
    &__card:nth-child(n + 2) {
      margin-left: 2rem;
    }
  }
}

//////////////////////////////
// OVERVIEW SECTION
.overview {
  color: var(--overview-text-grey);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 6rem;
  margin-right: 6rem;
  &__title {
    margin-bottom: 2rem;
    color: var(--color-text-primary);
    font-size: 6rem;
  }

  &__list {
    list-style: none;

    &__item {
      font-size: 2rem;
      color: black;
    }

    &__item:before {
      display: inline-block;
      content: " ";

      background-image: url("/img/check.svg");
      background-size: 1.5rem 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      fill: green !important;
    }
  }

  &__exclusives-list {
    list-style: none;
    margin: 2rem 0;
    &__item {
      color: var(--color-text-primary);
      font-size: 2rem;
    }
    &__item:before {
      display: inline-block;
      content: " ";

      background-image: url("/img/star.svg");
      background-size: 1.5rem 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__description {
    margin-top: 2rem;
    font-size: 2rem;
  }
}

//////////////////////////////
// 50 % OFF SECTION
.fifty-percent {
  color: var(--overview-text-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__container {
    // LINK https://stackoverflow.com/questions/39359828/center-one-flex-item-and-bottom-align-another
    margin: auto;
    box-shadow: 5px 5px 8px var(--color-background-gradient-1);
    border-radius: 10vh;
    padding: 2rem 4rem;
    background-image: linear-gradient(
      to bottom,
      var(--color-background-gradient-1),
      var(--color-background-gradient-2)
    );

    &__title {
      text-align: center;
      font-size: 4rem;
      color: var(--color-text-white);
    }
    &__subtitle {
      text-align: center;
      font-size: 2rem;
      color: var(--color-text-secondary);
    }
  }

  &__container2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      color: white;
      font-size: 1.5rem;
    }
    &__logo {
    }
    &__icon {
      fill: white;
      width: 2rem;
    }
  }
}

//////////////////////////////
// COURSES SECTION

.courses {
  display: flex;
  justify-content: center;
  &__container {
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    justify-content: center;

    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    &__card {
      margin-bottom: 4rem;
      display: flex;
      flex: 0 0 300px;
      height: 150px;

      border-radius: 1rem;

      justify-content: center;

      background-image: linear-gradient(
        to top,
        rgba(94, 67, 252, 0.5),
        rgba(195, 59, 228, 0.6)
      );

      &__title {
        font-size: 2rem;
        align-self: center;
      }
    }
    &__card:nth-child(n + 1) {
      margin-left: 3rem;
    }
  }
}
//////////////////////////////
// OVERVIEW-IMAGES SECTION

//////////////////////////////
// SELECT PLAN SECTION

//////////////////////////////
// POPULAR BUNDLES SECTION

//////////////////////////////
// CREDIT SECTION
