//////////////////////////////
// LOGO

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

//////////////////////////////
// SEARCHBOX

.search {
  flex: 0 0 40%;
  display: flex; // nested flexbox , so searhc items become flex items
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem; // so the button gets on top of the input field

    &:focus {
      outline: none;
      width: 100%;
      background-color: --color-grey-light-3;
    }
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
      width: 100%;
      background-color: --color-grey-light-3;
    }

    &::-webkit-input-placeholder {
      // changing placeholder (only in chrome safari this selector exist)

      font-weight: 100;
      color: --color-grey-light-4;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // fiill for svg color
  }
}

//////////////////////////////
// USER NAVIGATION

.user-nav {
  display: flex;
  align-items: center;

  // translates into user-nav__icon-box
  // the & sign attaches .user-nav to __icon-box
  // otherwise it would be  user-nav __icon-box  (with a space)

  // it helps to stop repition by doing nestig
  // https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274454#questions   (11:42)
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
  }

  &__user-name {
  }
}
